<html lang="en">

<head>
  <title>BANDIFY</title>
  <link rel="stylesheet" type="text/css" href="static/style.css">
  <link href="https://fonts.googleapis.com/css?family=Montserrat" rel="stylesheet">
  <link rel="icon" type="image/png" href="https://thumbs.dreamstime.com/z/headphones-globe-music-entertainment-logo-93702126.jpg">
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">

</head>

<body>
  <div id="root">

  </div>
  <script src="static/bundle.js"></script>
</body>

</html>