<!DOCTYPE html>
<html>

<head>
  <title>Music Social New</title>
  <link rel="stylesheet" type="text/css" href="static/style.css">
  <link href="https://fonts.googleapis.com/css?family=Titillium+Web" rel="stylesheet">
</head>

<body>
  {{> header}}
  <div id="root">

  </div>
  <script src="static/bundle.js"></script>
</body>

</html>
