*,
*:before,
*:after {
  box-sizing: border-box;
}

html,
body {
  height: 100%;
}

body {
  margin: 0;
  background: linear-gradient(#141716, #68b95c);
  background-repeat: no-repeat;
  background-size: auto;
  font-family: "Montserrat", sans-serif;
  color: #dcded8;
}

/* MOBILE VIEW 
* * * * * * * * * * * * * * * * * * * * * * * * * * * * * * 
HEADER */

.header {
  position: absolute;

  top: 0;
  width: 100%;
  text-align: center;
  background: #141716;
}

.header,
h1 {
  font-size: 80px;
  padding: 0;
  margin: 0;
}

.header__nav {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;

  list-style-type: none;
  font-size: 30px;
  margin: 0 15px;
}

.header__nav,
a:link {
  color: #dcded8;
  text-decoration: none;
}

.header__nav,
a:hover {
  color: #68b95c;
  text-decoration: underline;
}

.header__nav,
a:visited {
  color: #dcded8;
  text-decoration: none;
}

.menu {
  height: 100vh;
}

/* USER CONTENT */

.users {
  display: flex;
  flex-direction: column;
  align-items: center;

  overflow: scroll;
}

/* USER CARDS */

.user {
  border: 0;
  box-shadow: 3px 3px 10px 3px #dcded8;

  margin-bottom: 60px;
  text-align: center;
  margin-top: 20px;
  padding: 10px;
  background: #262e26;
  width: 90vw;
}

.user__title {
  display: flex;
  justify-content: space-between;
}

.username {
  margin: 0;
}

.add-to-favourites {
  font-size: 40px;
  color: transparent;
  text-shadow: 0 0 0 #dcded8;
  margin: 0;
}

.user__image {
  width: 250px;
  height: 250px;
  border-radius: 50%;
}

.user__info {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}

user__info__1 {
  flex-direction: column;
}

user__info__2 {
  flex-direction: column;
}

.soundcloud {
  display: none;
}

.icon {
  width: 40px;
  margin: 0 10px;
}

/* FOOTER */

.footer {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;

  position: fixed;
  bottom: 0;

  background: #141716;
  font-size: 30px;
  width: 100%;
  padding: 10px;
  text-align: center;
}

/* TABLETS */
@media (min-width: 768px) {
  .soundcloud {
    display: inline-block;

    width: 60vw;
  }
}
