*,
*:before,
*:after {
  box-sizing: border-box;
}

.hidden {
  display: none;
}

html,
body {
  height: 100%;
}

body {
  margin: 0;
  background: linear-gradient(#141716, #68b95c);
  background-repeat: no-repeat;
  background-size: auto;
  font-family: "Montserrat", sans-serif;
  color: #dcded8;
}

.logo {
  width: 60vw;
  min-width: 360px;
  text-align: center;
  margin: 8% auto;

  opacity: 0.4;
  filter: alpha(opacity=50);
}

/* MOBILE VIEW 
* * * * * * * * * * * * * * * * * * * * * * * * * * * * * * 
HEADER */

.header {
  position: sticky;

  top: 0;
  width: 100%;
  text-align: center;
  background: #141716;
}

.header h1 {
  font-size: 28px;
  padding: 0;
  margin: 5px;
}

.header__nav p {
  background-image: linear-gradient(90deg, #68b95c 0%, #141716 100%);
  background-repeat: no-repeat;
  background-size: 0%;
  transition: background-size 0.15s ease-in;
}

.header__nav p:hover {
  background-size: 100%;
}

.logo__picture {
  width: 260px;
  padding: 0;
  margin: 0;
}

.header__nav {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;

  list-style-type: none;
  font-size: 12px;
  margin: 0 15px;
  color: #dcded8;
}

.header__nav a {
  text-decoration: none;
}

.header__nav,
a:visited {
  color: #dcded8;
  text-decoration: none;
}

.menu {
  height: 80vh;
  overflow: scroll;
}

/* USER CONTENT */

.users {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: 0.7em;
}

/* USER CARDS */

.user {
  border: 0;
  box-shadow: 3px 3px 10px 3px #dcded8;

  margin-bottom: 40px;
  text-align: center;
  margin-top: 20px;
  padding: 10px;
  background: #262e26;
  width: 90vw;
}

.msg-button {
  background: none;
  text-align: center;
  border: none;
  color: #dcded8;
  font-size: 30px;
  cursor: pointer;
  margin: 0;
  border-radius: 10%;
  width: 30px;
}

.user__title {
  display: flex;
  justify-content: space-between;
}

.username {
  margin: 0;
}

.add-to-favourites {
  cursor: pointer;
  color: transparent;
  text-shadow: 0 0 0 #dcded8;
  margin: 0;
  font-size: 24px;
}

.user__image {
  width: 100px;
  height: 100px;
  border-radius: 50%;
}

.user__info {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}

user__info__1 {
  flex-direction: column;
}

user__info__2 {
  flex-direction: column;
}

.soundcloud {
  display: none;
}

.icon {
  margin-top: 10px;
  width: 20px;
  margin: 0 5px;
}
/*message input*/
.message-box{
  background: rgba(109, 173, 120, 0.815);
  padding-top:5px;
}
.message-box input{
margin: 5px;
}
.message-box button{
  margin: 5px;
}

.message-box__content-field{
  width: 200px;
  height: 100px;
}
.message-box__subject-field{
  width: 200px;
}

/* FOOTER */

.footer {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;

  position: sticky;
  bottom: 0;

  background: #141716;
  font-size: 16px;
  width: 100%;
  padding: 10px;
  text-align: center;
  color: #dcded8;
}

.footer a {
  background-image: linear-gradient(90deg, #68b95c 0%, #141716 100%);
  background-repeat: no-repeat;
  background-size: 0%;
  transition: background-size 0.15s ease-in;
  text-decoration: none;
}

.footer a:visited {
  color: #dcded8;
  text-decoration: none;
}

.footer a:hover {
  background-size: 100%;
}

/* PROFILES */

.profiles {
  text-align: center;
}

/* MESSAGE BOARD */

/* CREATE NEW POST */

.message-board {
  display: flex;
  flex-direction: column;
  margin: 5px;
  align-items: center;
}

.message-board__new-post {
  flex: 1;
  border: 2px solid black;
  padding: 10px;
  width: 80vw;
}

.message-board__new-post input {
  margin: 5px;
  width: 60vw;
}

.message-board__new-post textarea {
  margin: 5px;
  width: 60vw;
  height: 20px;
}

.post-button {
  text-align: center;
  background: none;
  text-align: center;
  border: none;
  color: #dcded8;
  font-size: 30px;
  cursor: pointer;
  margin: 0;
  border-radius: 10%;
  width: 30px;
}

.message-board__notices {
  width: 98vw;
  border: 1px black solid;
  padding: 10px;
  background: #dcded8;
  color: black;
}

.message-board__notices:nth-child(even) {
  background: #c2c4bf;
}
/* Inbox*/

.inbox {
  display: flex;
  flex-direction: column;
  margin: 5px;
  align-items: center;
}

.inbox__message {
  border: 1px black solid;
  padding: 10px;
  width: 90vw;
  background: #dcded8;
  color: black;
}
.inbox__message:nth-child(even) {
  background: #c2c4bf;
}

.other-components{
  height: 60px;
  background: #141716;
  text-align: center;

}

.other-components button{
  color: white;
  font-family: "Montserrat", sans-serif;
  font-size: 10px;
}

/* TABLETS */
@media (min-width: 768px) {
  .header,
  h1 {
    font-size: 48px;
  }

  .header__nav {
    font-size: 22px;
  }

  .logo__picture {
    width: 660px;
  }

  .user {
    width: 700px;
  }

  .msg-button {
    font-size: 60px;
  }

  .soundcloud {
    display: inline-block;

    width: 600px;
    height: 140px;
    margin-top: 50px;
    margin-bottom: 40px;
  }

  .user__title {
    font-size: 26px;
    margin-bottom: 30px;
  }

  .add-to-favourites {
    font-size: 34px;
  }

  .user__image {
    float: left;
    margin: 10px 20px;
    width: 250px;
    height: 250px;
  }

  .user__info {
    font-size: 18px;
  }

  .icon {
    width: 60px;
    margin: 0 10px;
  }

  .footer {
    font-size: 22px;
  }

.other-components button{
  color: white;
  font-family: "Montserrat", sans-serif;
  font-size: 18px;
}
}

/* Drop down menu code*/
/* Style The Dropdown Button */
.dropbtn {
  background-color: #4CAF50;
  color: white;
  padding: 10px;
  font-size: 15px;
  border: none;
  cursor: pointer;
}

/* The container <div> - needed to position the dropdown content */
.dropdown {
  
  position: fixed;
  display: inline-block;
}

/* Dropdown Content (Hidden by Default) */
.dropdown-content {
 
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 100px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

/* Links inside the dropdown */
.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

/* Change color of dropdown links on hover */
.dropdown-content a:hover {background-color: #f1f1f1}

/* Show the dropdown menu on hover */
.dropdown:hover .dropdown-content {
  display: block;
}

/* Change the background color of the dropdown button when the dropdown content is shown */
.dropdown:hover .dropbtn {
  background-color: #3e8e41;
}